@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');        
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@keyframes slideshow{
    0% {
        background-image: url('../imgs/Witcher.jpg');
    }
    25% {background-image: url('../imgs/MBB StrangerThings.jpg'); 

    }
    50% {
        background-image: url('../imgs/Queens Gambit.jpg');
    }

    75% {
        background-image: url('../imgs/OITNB Taylor Schilling.jpg');
    }
}

body {
    background-image: url('../imgs/eugene-levy-schitts-creek.jpg');
    animation: 10s ease-in-out infinite slideshow;
}

main {
    width: 2000px;
    height: 2000px;
    background-color: rgba(176, 196, 222, 0.601);
}

section {
    position: absolute;
    top: 40%;
    left: 25%;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Cutive Mono', monospace;
    opacity: 1;
    background-color: rgba(176, 196, 222, 0.512);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}

#answerBox {
    z-index: 10;
    top: 15%;
    left: 5%;
    width: fit-content;
    padding: 1rem;
    height: 33px;
    background: rgba(245, 245, 245, 0.378);
}

h1 {
    font-size: 50px;
    margin-bottom: 25px;
    font-family: 'Paytone One', sans-serif;
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(37, 53, 91);
    
}

button {
    margin-top: 25px;
    height: 60px;
    width: 100px;
    border-radius: 10%;
    font-size: 20px;
    font-family: 'Paytone One', sans-serif;
    margin-bottom: 12px;
    
}

button:hover {
    background-color: green;
    transition: 450ms ease-in;

}

a {
    text-decoration: none;
    color: black;
}
img {
    width: 100%;
    height: 100%;
    z-index: -10;
}

