@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@keyframes slideshow {
    25% {
        background-image: url('../imgs/Witcher.jpg');
    }

    50% {
        background-image: url('../imgs/MBB StrangerThings.jpg');
    }

    75% {
        background-image: url('../imgs/Queens Gambit.jpg');
    }
}

body {
    width: 100vw;
    height: 100vh;
}

.slide-show {
    background-image: url('../imgs/Phoebe Dynevor Bridgerton.jpeg');
    animation: 12s ease-in-out infinite slideshow;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#nav {
    height: 30px;
    background: rgb(255, 255, 255, .3);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    display: flex;  
    justify-content: center;
    padding: 5px;
}

#nav a {
    color: rgb(37, 53, 91);
    font: 50px 'Paytone One', sans-serif;
    font-size: 1.4em;
    /* margin-left: 33%; */
}

main {
    width: 100%;
    height: 100%;
    background: rgba(83, 104, 132, 0.601);
}

section {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    font: italic 22px 'Cutive Mono', monospace;
    background: rgb(255, 255, 255, .3);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}

#answerBox {
    width: fit-content;
    height: 33px;
    z-index: 10;
    top: 15%;
    left: 5%;
    border-radius: 50%;
    padding: 1rem;
    background: rgba(245, 245, 245, 0.378);
}

h1 {
    margin: 0 0 25px 0;
    font: 50px 'Paytone One', sans-serif;
    text-decoration: underline;
    color: rgb(37, 53, 91);
}

button {
    height: 60px;
    width: 100px;
    margin: 25px 0 0 0;
    border-radius: 10%;
    font: 20px 'Paytone One', sans-serif;
    margin-bottom: 12px;
    transition: all ease 350ms;
    justify-content: center;
}

button:hover {
    background-color: green;
}

a {
    text-decoration: none;
    color: black;
}

